[Desktop Entry]
Name=nett-party
Exec=nett-party %U
Terminal=false
Type=Application
Icon=nett-party
StartupWMClass=nett-party
MimeType=x-scheme-handler/clash;x-scheme-handler/mihomo;
Comment=nett-party
Categories=Utility;
